# API keys and secrets
.env
.env.scss
# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode/settings.json

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
@{baseUrl}

google-chrome-stable_current_amd64.deb